server {
	listen 80 default_server;
	server_name _;

    {% if inventory_hostname == nginx_main_host %}

	location / {
		proxy_pass http://www-1:{{ agama_port }}; 
		proxy_set_header Host $http_host;
	}

	location /prometheus {
		proxy_pass http://prometheus:9090;
	}

	location /grafana {
		proxy_pass http://grafana:{{ grafana_port }};
		proxy_set_header Host $http_host;
	}

	{% else %}
	
	location / {
	proxy_pass http://www-2:{{ agama_port }}; 
	proxy_set_header Host $http_host;
	}

	{% endif %}

}

server {
	listen 8080 default_server;

	location = /stub_status {
		stub_status;
	}
}