server {
	listen 80 default_server;
	server_name _;

	location / {
		proxy_pass http://EmreKaratopuk-1:{{ agama_port }}; 
		proxy_set_header Host $http_host;
	}

	location /prometheus {
		proxy_pass http://EmreKaratopuk-2:9090;
	}

	location /grafana {
		proxy_pass http://EmreKaratopuk-2:{{ grafana_port }};
		proxy_set_header Host $http_host;
	}
}

server {
	listen 8080 default_server;

	location = /stub_status {
		stub_status;
	}
}