acl allowed_nets { {{(hostvars['EmreKaratopuk-1']['ansible_default_ipv4']['network'] + '/' + hostvars['EmreKaratopuk-1']['ansible_default_ipv4']['netmask']) | ansible.utils.ipaddr('net')}}; 127.0.0.0/8; };
options {
	directory "/var/lib/bind";

	forwarders {
	{% for forwarder in forwarders_list %}
	{{forwarder}};
	{%endfor%}

	};

    allow-query { allowed_nets; };
	dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
