search {{ domain_name }}
{% for group in ['bind_masters', 'bind_slaves']%}

{% for server in groups[group] %}
nameserver {{ hostvars[server]['ansible_default_ipv4']['address'] }}
{% endfor %}
{% endfor %}